.categories-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.category {
  width: 18%;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
